@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

$font-base: 'Open Sans', sans-serif;

$pink: #ff3867;
$orange: #f15a29;
$yellow: #ffcb1f;
$blue: #53c9f7;
$gray: #424143;
$light-gray: #999999;